* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    width: 1918px;
    height: 935px;
}
.sidebar {
    height: 100%;
    width: 150px;
    background-color: #191718;
    float: left;
    display: block;
}
.sidebar li {
    color: #AAAAAA  ;
    text-align: center;
    line-height: 44px;
    font-size: 16px;

}
.sidebar hr {
    color: #5C5C5C;
    stroke: solid;
}
.sidebar li:hover {
    color: #FFFFFF;
    background-color: #5C5C5C;
}
.container {
    height: 100%;
    width:  calc(100% - 150px);
    display: block;
    float: right;
}
.heading {
    height: 857px;
    width: 100%;
    background-color: #FFFFFF;
}
.container .logo {
    text-align: center;
    padding-top: 20px;
}
.container .logo img{
    max-width: 310px;
    max-height: 122px;
    
}
.container .content {
    width: 1510px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EFEFEF;
    padding-bottom: 38px;

    
}
.container .title {
    margin-top: 48px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-top: 38px;
}
.container .content__about {
    width: 972px;
    height: 95px;
    font-size: 16px;
    line-height: 19px;
    margin-left: auto;
    margin-right: auto;

}
.container .list__item {
    width: 1510px;
    margin-top:40px ;
    margin-left: auto;
    margin-right: auto;
}
.container .css__item {
    width: 470px;
    height: 252px;
    float: left;
    margin-right: 33.3333px;
}
.container .css__item h3 {
}
.container .css__item img {
    margin-top: 20px;
    float: left;
}
.container .css__item p {
    margin-top: 20px;

}
.footer {
    height: 78px;
    width: 100%;
}
.footer p {
    font-size: 16px;
    line-height: 78px;
    margin-left: 100px;
}